---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="/contact">
    <div class="flex justify-center items-center flex-col w-screen">
        <div class="flex justify-center flex-col w-screen items-center mb-4">
            <h1 class="sm:text-4xl text-2xl">
                📝 Interested? Contact me here 📝
            </h1>
        </div>
        <div class="flex items-center flex-col gap-5">
            <div class="w-56 flex justify-center flex-col gap-5">
                <div class="flex items-center justify-between text-2xl">
                    <Image
                        inferSize
                        alt="Discord icon"
                        loading={"eager"}
                        src="https://skillicons.dev/icons?i=discord"
                    />
                    <h1>jgrtowy</h1>
                </div>
                <div class="flex items-center justify-between text-2xl">
                    <Image
                        inferSize
                        alt="Twitter icon"
                        loading={"eager"}
                        src="https://skillicons.dev/icons?i=twitter"
                    />
                    <h1>@jgrtowy</h1>
                </div>
                <div class="flex items-center justify-between text-2xl">
                    <Image
                        inferSize
                        alt="GitHub icon"
                        loading={"eager"}
                        src="https://skillicons.dev/icons?i=github"
                    />
                    <h1>/jgrtowy</h1>
                </div>
                <div class="flex items-center justify-between text-2xl">
                    <Image
                        inferSize
                        alt="LinkedIn icon"
                        loading={"eager"}
                        src="https://skillicons.dev/icons?i=linkedin"
                    />
                    <h1>/in/dawidgul</h1>
                </div>
            </div>

            <h2 class="text-3xl">
                <a
                    href="mailto:contact@jgrtowy.xyz"
                    class="underline dark:hover:text-gray-300 transition hover:text-gray-800"
                    >contact@jgrtowy.me</a
                >
            </h2>
        </div>
    </div>
</Layout>

<style scoped>
    @media (max-width: 768px) {
        #header-text {
            font-size: 1.4rem;
        }
    }
    img {
        width: 4rem;
        aspect-ratio: 1/1;
    }
</style>
