---
import { DarkModeToggle } from "./DarkModeToggle";
import { Button, buttonVariants } from "./ui/button";
---

<header
    class="flex sm:justify-between sm:flex-row flex-col py-5 sm:px-2 md:px-24 px-1 text-2xl sm:gap-0 gap-1 w-screen"
>
    <div
        class="flex sm:w-12 w-screen sm:justify-normal justify-between sm:gap-6"
    >
        <a
            class={`${buttonVariants({ variant: "ghost" })} text-xl`}
            href="/"
            data-astro-prefetch>Home</a
        >
        <a
            class={`${buttonVariants({ variant: "ghost" })} text-xl`}
            href="/about"
            data-astro-prefetch>About</a
        >
        <a
            class={`${buttonVariants({ variant: "ghost" })} text-xl`}
            href="/projects"
            data-astro-prefetch>Projects</a
        >
        <a
            class={`${buttonVariants({ variant: "ghost" })} text-xl`}
            href="/contact"
            data-astro-prefetch>Contact</a
        >
    </div>
    <div class="flex gap-6 justify-center">
        <DarkModeToggle client:load />
    </div>
</header>
